.wheel-content {
  position: relative;
}

.wheel-core {
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 100%;
  border: 3px solid #eee;
  pointer-events: all;
  overflow: hidden;
  cursor: pointer;

  width: 20%;
  height: 20%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
  }

  &-text {
    z-index: 1000;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &:hover {
    opacity: 0.9;
    
    .wheel-core-overlay {
      display: flex;
    }
  }
}

.wheel-winner {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wheel-target {
  width: 100%;
}
